<h1>Portfolio items</h1>


 

<%= link_to "Create new items", new_portfolio_path %><br >



<% @portfolio_items.each do |k| %>

	<h3><%= link_to k.title, portfolio_path(k) %></h3><br>
    <%=k.subtitle%><br>
    <%=k.body%><br><br>
    <%= image_tag k.thumb_image if !k.thumb_image.nil? %>
    <%=link_to "Edit", edit_portfolio_path(k) %>
    <br>
    <hr>
    <br>



	
<%end%>